@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  --color-bg: black;
  --color-text-active: white;
  --color-text: #9b9b9e
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  width: 100vw;
}

button {
  border: none;
  cursor: pointer;
}

span {
  white-space: normal;
}